if (menu === 'profile' || menu === 'home')
	if (loggedin)
		#menu
			li
				input#mySearch.ms-TextField-field(type="search", placeholder="search")
				a(href="#", title="Menu")
					if (menu === 'home')
						img(src="http://pu.bli.sh/images/menu_button.svg")
					else
						if ("/publishers/fad/"+geoname+"/"+loggedin+"/images/avatar/"+loggedin+".svg")
							img(src="/publishers/fad/"+geoname+"/"+loggedin+"/images/avatar/"+loggedin+".svg")
						else 
							img(src="/publishers/fad/"+geoname+"/"+loggedin+"/images/avatar/"+loggedin+".png")

				div#dropdown
					a.drop.ms-Grid-col.ms-u-sm12#home(href="/home") 
						span.ms-font-l pu.bli.sh Home
					a.drop.ms-Grid-col.ms-u-sm12#gallery(href="/gallery/"+geoindex+"/all_0/0/"+zoom+"/"+lat+"/"+lng+"") 
						span.ms-font-l Gallery
					a.drop.ms-Grid-col.ms-u-sm12#addfeature(href="#", title=""+loggedin+"") 
						span.ms-font-l Add Feature
					a.drop.ms-Grid-col.ms-u-sm12#logout(href="/logout") 
						span.ms-font-l Log out
						

			a.username(href="mailto:"+pu.email+"?Subject=Design%20Services%20Request", target="_top", title="E-mail") 

				span.ms-font-l.ms-fontWeight-semibold #{loggedin}
	else
		#menu
			li
				input#mySearch.ms-TextField-field(type="search", placeholder="search")
				a(href="#", title="Menu")
					img(src="http://pu.bli.sh/images/menu_button.svg")

				div#dropdown
					a.drop.ms-Grid-col.ms-u-sm12#contact(href="/") 
						span.ms-font-l Home
					if (menu === 'home')
						a.drop.ms-Grid-col.ms-u-sm12#gallery(href="/gallery/"+geoindex+"/all_0/0/"+zoom+"/"+lat+"/"+lng+"") 
							span.ms-font-l Gallery
					else
						a.drop.ms-Grid-col.ms-u-sm12#gallery(href="/gallery/"+geoindex+"/all_"+index+"/0/"+zoom+"/"+lat+"/"+lng+"") 
							span.ms-font-l Gallery
					a.drop.ms-Grid-col.ms-u-sm12#cv(href="/login") 
						span.ms-font-l Login
					a.drop.ms-Grid-col.ms-u-sm12#gallery(href="/register") 
						span.ms-font-l Register
	script(type="text/javascript").
		$(document).on('change', '#mySearch', function(e){
			e.preventDefault();
			$('.searchbox').slideUp(100);
			$('.searchbox').remove();
			var term = $(e.target).val();
			console.log(term)
			$.get('/search/'+term+'').done(function(response){
				console.log(response)
				
				$(e.target).parent().append('<div id="dropdown" class="searchbox"></div>')
				$('.searchbox').slideDown(200);
				if (response == 'none') {
					$('.searchbox').append('<p class="drop ms-Grid-col ms-u-sm12">No pu.bli.sher by that name</p>')
				}
				for (var i in response) {
					
					$('.searchbox').append('<a class="drop ms-Grid-col ms-u-sm12" href="/'+response[i].username+'"><span class="ms-font-l">'+response[i].username+'</span></a>')
				}
			})
		})
		$(document).on('click', '#addfeature', function(e){
			var username = $(this).attr('title')
			$('.searchbox').slideUp(100);
			$('.searchbox').remove();
			$.get('/api/publisherdata/'+username+'').done(function(response){
				console.log(response)
				$(e.target).parent().append('<div id="dropdown" class="searchbox"></div>')
				$('.searchbox').slideDown(200);
				for (var i in response) {
					$('.searchbox').append('<a class="drop ms-Grid-col ms-u-sm12" href="/api/addfeature/'+response[i].geoindex+'/6/'+response[i].content[0].geometry.coordinates[1]+'/'+response[i].content[0].geometry.coordinates[0]+'"><span class="ms-font-l">'+response[i].name+'</span></a>')
				}
			})
			
		})
		