body {
	margin: 0;
	padding: 0;
}

a {
	pointer-events: auto;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.spacer {
	margin-top: 30px;
}

hr {
	height: 0; 
	border-top: 1px solid #c8c8c8; 
	border-left: 0; 
	border-right: 0; 
	border-bottom: 0
}

#map {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.block {
	padding: 0;
	border-right: 1px #fff solid;
	text-align: center;
	color:white;
}

.noline {
	padding: 0;
	border-left: 0 #fff solid;
	text-align: center;
	color:white;
}

.tightlead {
	line-height: 0;
	text-align: left;
}

#tl {
	position: fixed;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	top: 50%;
	pointer-events: none;
	background-color: none;
	background-image: radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0) 20px, rgba(255, 255, 255, 0.5) 19px);
	min-height: 79px;
}

#wrapper {
	top: 50%;
	width: auto;
	min-width: 100%;
	position: fixed;
}

.year {
	position: absolute;
	float: left;
}

.module {
	position: absolute;
	float: left;
	padding: 0;
	min-height: 32px;
	box-sizing: border-box;
	pointer-events: auto;
	background-color: rgba(238, 244, 222, 0.8);
	margin-top: 46px;
	border: 1px #fff solid;
	z-index: 1;
}

.module > span, #tl > span {
	text-align: left;
	line-height: 0.8em;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	padding: 4px 0 0 4px;
	color: #555;
	white-space: nowrap;
	text-shadow: 0 0 2px #fff; 
	-moz-text-shadow: 0 0 2px #fff;
	-webkit-text-shadow: 0 0 2px #fff;
	z-index: 3;
}

#tl > span {
	margin: 20px 10px;
	right: 50%;
	position: absolute;
	z-index: 0;
}

.hover {
	height: 41px; 
	margin-top: 37px;
	background-color: #fff;
}

.ms-ListItem-image {
	pointer-events: auto;
	float: left;
	position: relative;
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin: 0 10px 10px -10px;
}

.ms-ListItem-image > img, .ms-ListItem-image > canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.ms-ListItem-actions, .ms-ListItem-action {
	top: 0;
}

#closepanel {
	position: fixed;
	top: 20px;
	right: 18px;
	bottom: auto;
	left: auto;
	color: #A6A6A6;
	z-index: 9999;
}

#editbutton {
	position: fixed;
	top: 20px;
	right: 42px;
	bottom: auto;
	left: auto;
	color: #A6A6A6;
	z-index: 9999;
}

#append {
	min-height: 49%;
}

#append > img {
	height: auto;
	width: auto;
	max-width: 100%;
}

#menu {
	position: fixed;
	top: 10px;
	right: 10px;
	left: auto;
	bottom: auto;
	pointer-events: none;
	width: 150px;
	background-color:none;
	z-index: 5;
}

#menu > li {
    padding: 0;
    margin: 0;
	width: 100%;
    height: 100%;
	position: relative;
    list-style-type: none;
	pointer-events: none;
}
#menu > li > a {	
	display:inline-block;
    height: 22px;
    position: relative;
	pointer-events: auto;
}
#menu > li > a > img {	
	height: 28px;
	width: auto;
	margin: 0;
}
#menu .button {
    width: 54px;
    position: relative;
    padding: 10px 0 0 5px;
	pointer-events: auto;

}

#dropdown {
	overflow: hidden;
	padding: 0;
	margin: 5px 0;
	background-color: rgba(255,255,255,.97);
	z-index: 1;
}

.drop {
    
    height: 100%;
	pointer-events: auto;
	padding: 8px;
	width: 100%;
}
.drop:hover {
	background: linear-gradient(to right, #EEF4DE,  #fff);
	background-repeat: no-repeat;
	cursor: pointer;
	pointer-events: auto;
}

#mySearch {

	outline: none;
	border:0px solid #dbdbdb;
	left: 36px;
	top: 0;
	bottom: auto;
	position: absolute;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.2),  #EEF4DE);
	background-color: none;
	pointer-events: auto;
	padding: 3px;
}

#avatar, #resume, #media, #media1 {
	padding: 0; 
	background-color: rgba(255, 255, 255, 0);
	box-sizing: content-box;
}

#publish_logo {
	position: fixed;
	bottom: 10px;
	right: 10px;
	top: auto;
	left: auto;
	width: 150px;
}

#publish_logo > img {
	width: 100%;
	height: auto;
}

.picker__select--year {
	overflow-y: scroll;
}

#arrows {
	pointer-events: none;
	width: 100%;
	position: absolute;
	top: 50%;
	z-index: 4000;	
}

.arrow {
	pointer-events: auto;
	color: #555;
	font-size:35px;
	display:block;
	height: 100%;
	padding: 10px 3px;
}

.arrow:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.left {
	float: left;
}

.right {
	float: right;
}

.arrow > i {
	margin:12px auto;
}

.ms-ListItem-secondaryText  {
	font-size: 13px;
	white-space: normal;
	line-height: 1.1em;
	padding: 5px 55px 5px 0;
}

.ms-ListItem-tertiaryText {
	font-size: 13px;
	color: #999;
}

.list.leaflet-control {
	bottom: 50%;
	left: 50%;
	margin: 0;
	pointer-events: none;
}

.list > .ms-Panel-main {
	width: 100%;
	top: 0;
	bottom: 0;
	position: absolute;
	float: right;
	background-color: rgba(255, 255, 255, 0);
	background-image: radial-gradient(circle at 0 100%, rgba(255, 255, 255, 0) 18px, rgba(255, 255, 255, 1) 17px);	
	z-index: -2;
	pointer-events: auto;
}

.list > .ms-Panel-contentInner {
	background-color: rgba(255, 255, 255, 0);
	pointer-events: auto;
}

.list a {
	margin: 0 0 5px 0!important;
}
.list a:last-child {
	margin: 0 0 23px 0!important;
}

.ms-Overlay.ms-Overlay--dark {
	background-color: rgba(0, 0, 0, 0);
}

.list > .js-togglePanel {
	background-color: rgba(0, 0, 0, 0);
	background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, .2) 19px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -2;	
}

.js-togglePanel {
	background-color: rgba(0, 0, 0, 0);
	background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, .2) 19px);
	z-index: -1;	
}

#sidepanel {
	height: auto;
	max-height: 51%;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
}

#mainpanel > .ms-Panel-contentInner {
	overflow-y: hidden;
	position: absolute;
}

.ms-Panel--small #sidepanel, .ms-Panel--medium #sidepanel {
	max-height: 100%;
}

a.username:hover > .ms-font-l {
	color: #BAD80A;
}

.picker__select--month, .picker__select--year {
	height: 4em;
}

.highlight {
	background-color: #BAD80A;
	display: inline;
}

.module.block {
	background-color: rgba(255, 255, 255, 0);
	background-image: linear-gradient(to bottom, #EEF4DE,  #BAD80A);
}

.module.block.hover {
	background-color: rgba(255, 255, 255, 0);
	background-image: linear-gradient(to bottom, #FFF,  #BAD80A);
}
@media (max-width: 639px) and (orientation: portrait) {
	.ms-Panel--small, .ms-Panel--medium {
		bottom: 50%;
		background-color: rgba(255, 255, 255, 0);
		background-image: radial-gradient(circle at 50% 100%, rgba(255, 255, 255, 0) 18px, rgba(255, 255, 255, 1) 17px);
	}
	.ms-Panel--small > #mainpanel, .ms-Panel--medium > #mainpanel {
		width: 100%;
		position: absolute;
		background-color: rgba(255, 255, 255, 0);
	}
	
}


@media (min-width: 640px) and (orientation: landscape) {
#sidepanel {
	min-height: 100%;
}
.ms-Panel--small, .ms-Panel--medium {
	bottom: 0;
	background-color: rgba(255, 255, 255, 0);
	background-image: none
}
.ms-Panel--small  #mainpanel, .ms-Panel--medium  #mainpanel {
	position: absolute;
	background-color: #fff!important;
}
.ms-Panel--medium .ms-Panel-main {
	background-color: #fff!important;
	width: 33%;
}

}

@media (min-width: 1024px) and (orientation: landscape) {
	.ms-Panel--medium  .ms-Panel-main {
		background-color: #fff!important;
		width: 33%!important;
	}
}
